.destination-content {
  //background-color: rgba(255, 228, 196, 0.158);
  width: 80vw;
  margin: 30px auto;

  @media (max-width: 1320px) {
    width: 90vw;
    margin-bottom: 10px;
  }

  @media (max-width: $tablet) {
    width: 70%;
  }

  @media (max-width: $phone) {
    width: 85%;
  }

  &__main {
    //background-color: rgba(0, 255, 255, 0.144);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 60vh;

    @media (max-width: $tablet) {
      flex-direction: column;
      padding: 20px 0;
      height: 100%;
      gap: 40px;
    }

    img {
      width: 45%;
      min-width: 300px;
      max-width: 450px;
      height: auto;

      @media (max-width: $phone) {
        max-width: 170px;
      }
    }

    &--detail {
      //background-color: rgba(0, 255, 255, 0.103);
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 1320px) {
        width: 50%;
      }

      @media (max-width: $tablet) {
        width: 100%;
        align-items: center;
        text-align: center;
      }

      .destination-menu {
        ul {
          display: flex;
          flex-direction: row;
          //background-color: rgba(0, 255, 255, 0.247);

          @media (max-width: $tablet) {
            align-items: center;
          }

          //li tag
          .menu-item {
            margin-right: 50px;
            @include headingStyle_2(16px, 2.7px);
            cursor: pointer;
            position: relative;

            @media (max-width: $tablet) {
              margin: 0 20px;
            }

            @media (max-width: $phone) {
              //font-size: 14px;
            }

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -15px;
              left: 0;
              background-color: $lightWhite;
              transition: 0.25s ease-out;
              opacity: 0;
            }

            &:hover:after {
              opacity: 0.5;
            }
          }

          .menu-active {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -15px;
              left: 0;
              background-color: $lightWhite;
            }
          }
        }
      }

      .destination-title {
        @include headingStyle_1(100px);
        margin: 20px 0;

        @media (max-width: $tablet) {
          margin-top: 40px;
          font-size: 90px;
        }

        @media (max-width: $phone) {
          font-size: 60px;
        }
      }

      .destination-text {
        @extend %text-style;
        margin-bottom: 50px;

        @media (max-width: $tablet) {
          font-size: 16px;
        }

        @media (max-width: $tablet) {
          font-size: 15px;
        }
      }

      .destination__data {
        display: flex;
        flex-direction: row;
        gap: 80px;
        //padding-top: 10px;
        position: relative;

        @media (max-width: $tablet) {
          justify-content: center;
          width: 70vw;
        }

        @media (max-width: $phone) {
          flex-direction: column;
          width: 85vw;
          gap: 30px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          top: -8px;
          background-color: $faintGray;

          @media (max-width: $tablet) {
            top: -20px;
          }
        }

        header {
          @include headingStyle_2(14px, 2.35px);
          margin-bottom: 10px;
        }

        p {
          @include headingStyle_1(28px);
        }
      }
    }
  }
}
