//----- IMPORTS -----
//@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

//----- FONTS -----
$font_Belle: "Bellefair";
$font_Barlow: "Barlow Condensed";

//----- COLORS -----
$darkBlack: #0b0d17;
$lightPurple: #d0d6f9;
$lightWhite: #ffffff;
$faintGray: #979797;

//----- SCREEN SIZES -----
$tablet: 900px;
$phone: 700px;

//----- HEADING MIXINS -----
@mixin menuStyle() {
  font-family: $font_Barlow, sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;

  @media (max-width: $phone) {
    font-size: 20px;
  }
}

@mixin headingStyle_1($size) {
  font-family: $font_Belle, sans-serif;
  font-size: $size;
  color: $lightPurple;
  text-transform: uppercase;
}

@mixin headingStyle_2($size, $spacing) {
  font-family: $font_Barlow, sans-serif;
  font-size: $size;
  letter-spacing: $spacing;
  color: $lightPurple;
  text-transform: uppercase;
}

@mixin imgBackground($img) {
  background: url($img) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;
}

//----- PLACEHOLDERS -----
%text-style {
  font-family: $font_Barlow, sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
}

%explore-btn {
  text-transform: uppercase;
  font-family: $font_Belle, sans-serif;
  letter-spacing: 2px;
  font-size: 32px;
  width: 280px;
  height: 280px;
  background-color: $lightWhite;
  border-radius: 50%;
  border: none;
}

//----- FLEX CENTER -----
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----- GENERAL SETTINGS -----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $darkBlack;
  color: $lightWhite;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: $lightWhite;
  }
}
